<div class="custom-paginator">
  <div class="pagination-info">
    Showing {{ showingStart() }} - {{ showingEnd() }} of
    {{ paginationData.totalPages || 0 }} records
  </div>
  <div class="pagination-buttons">
    <button
      class="ShuffleBtn"
      [disabled]="currentPage() === 0"
      (click)="prevPage()"
    >
      <mat-icon class="icon">chevron_left</mat-icon>
    </button>
    <button
      class="ShuffleBtn"
      [disabled]="
        (currentPage() + 1) * paginationData.pageSize >=
        paginationData.totalRecords
      "
      (click)="nextPage()"
    >
      <mat-icon class="icon">chevron_right</mat-icon>
    </button>
  </div>
</div>
