<div class="container">
  <app-loader *ngIf="loader"></app-loader>
  <div class="headerWrapper">
    <div class="header">
      <span class="heading fw-bold">FAQs</span>
      <span class="subheading d-block"
        >Manage frequently asked questions for your mobile app</span
      >
    </div>
    <button class="btns" (click)="addQuestion()">+ Add FAQ</button>
  </div>
  <div class="mainContainer">
    <aside class="categoriesContainer">
      <span class="headerText">Categories</span>
      <ol class="categories">
        <li
          class="categoryBtn"
          [ngClass]="{ highlight: option() === 'all' }"
          (click)="categoryClick('all', 'All FAQs')"
        >
          <span class="categoryheading">All FAQs</span>
          <div class="count">
            <span>{{ totalCount() }}</span>
          </div>
        </li>
        <li
          class="categoryBtn"
          [ngClass]="{ highlight: option() === item.id.toString() }"
          (click)="categoryClick(item.id, item.name)"
          *ngFor="let item of paginatedCategories(); trackBy: trackOrder"
        >
          <span class="categoryheading">{{ item.name }}</span>
          <div class="count">
            <span>{{ item.count }}</span>
          </div>
        </li>
      </ol>
      <div class="addCategory">
        <input
          type="text"
          class="form-control input"
          placeholder="Add New Category"
          [(ngModel)]="categoryInput"
          name="categoryInput"
        />
        <button
          class="addBtn"
          (click)="addUpdateCategory(selectedCategoryId, categoryInput)"
          [disabled]="!categoryInput"
        >
          {{ selectedCategoryId ? "Update Category" : "+ Add Category" }}
        </button>
      </div>
    </aside>
    <div class="questionContainer">
      <div
        class="questions"
        *ngFor="
          let item of paginatedFaqs();
          trackBy: trackOrder;
          let i = index;
          let first = first;
          let last = last
        "
      >
        <div class="questionsHead">
          <span class="questionheader">{{ item.name }}</span>
          <div class="shuffleBtns">
            <button
              class="ShuffleBtn"
              (click)="shuffle(item.id, item.displayOrder - 1)"
              [disabled]="first"
            >
              <mat-icon class="icon">arrow_upward</mat-icon>
            </button>
            <button
              class="ShuffleBtn"
              (click)="shuffle(item.id, item.displayOrder + 1)"
              [disabled]="last"
            >
              <mat-icon class="icon">arrow_downward</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="item.faqs.length === 0" class="noFaq">
          <span>No FAQs found.</span>
        </div>
        <div *ngFor="let faq of item.faqs">
          <div class="questionwrapper">
            <div class="faq-question">
              <span>{{ faq.question }}</span>
              <mat-icon
                class="faq-arrow"
                (click)="toggleFaq(faq)"
                [class.rotate]="faq.isOpen"
                >expand_more</mat-icon
              >
            </div>
            <div class="options">
              <img
                width="16"
                class="img"
                (click)="addQuestion(faq, item.name)"
                src="/logo/edit.png"
                alt=""
              />
              <img
                width="16"
                class="img"
                (click)="remove(faq.id)"
                src="/logo/bins.png"
                alt=""
              />
            </div>
          </div>
          <div class="faq-answer" [class.open]="faq.isOpen">
            {{ faq.answer }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-paginator" *ngIf="!selectedCategoryId">
    <div class="pagination-info">
      Showing {{ showingStart() }} - {{ showingEnd() }} of
      {{ totalRecords() }} records
    </div>
    <div class="pagination-buttons">
      <button
        class="ShuffleBtn"
        [disabled]="currentPage() === 0"
        (click)="prevPage()"
      >
        <mat-icon class="icon">chevron_left</mat-icon>
      </button>
      <button
        class="ShuffleBtn"
        [disabled]="(currentPage() + 1) * pageSize >= totalRecords()"
        (click)="nextPage()"
      >
        <mat-icon class="icon">chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
