.mainContainer {
  height: 100vh;
  padding: 70px;
  overflow: hidden;
  background: linear-gradient(180deg, #a6d6f5, #b8dff8, #cde9fb, #aed7f4);
}

.containerWrapper {
  height: 90vh;
  display: flex;
  background-color: white;
}

.imageContainer {
  padding: 12px;
  overflow: hidden;
  display: flex;
  height: 90vh;
}
.paragraph {
  color: black;
  font-size: 13px;
  font-weight: 400;
  width: 90%;
}
.h4 {
  font-size: 23px;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.imageContainer img {
  object-fit: cover;
  border-radius: 0.6rem;
}

.form-section {
  max-height: 100%;
  padding: 17px 85px;
}

.input-control {
  padding: 8px 12px;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  background-color: #f8fafc;
  width: 100%;
  transition: all 0.2s ease;
  outline: none;
  box-shadow: none;
}

.input-control:focus {
  outline: none;

  border: 1px solid #ced4da;
  background-color: white;
}

.invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1rem;
  border: 1px solid #dc3545 !important;
  transition: none !important;
}
.invalid-feedback {
  display: block;
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
}

.text-danger span {
  font-size: 14px;
  margin-top: 2px;
}
.passwordShow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #64748b;
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}
.form-check-label {
  font-size: 15px;

  color: black;
}
.form-check-input:checked {
  background-color: #5b57f4;
  border-color: #5b57f4;
  outline: none !important;
  box-shadow: none !important;
}
.form-control {
  padding: 7px 12px;
}
.inp::placeholder {
  font-size: 13px;
}

.passwordShow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #64748b;
  border: none;
  background: none;
}
.btn {
  background-color: #5b57f4;
  font-weight: 700;
  font-size: 16px;
  padding: 6px 12px;
}
