<div class="formContainer">
  <app-loader *ngIf="loader"></app-loader>


  <form autocomplete="off" [formGroup]="faqform" class="Form" *ngIf="formType==='faq'">
    <div class="formHeaders">
      <h2>Details for FAQ</h2>
      <span>Please enter the required detail to add new FAQ.</span>
    </div>

    <div class="faqForm">
      <div class="email-wrapper d-flex flex-column">
        <label for="question">Enter Question</label>
        <input
          formControlName="question"
          class="form-control input-control"
          [ngClass]="{
            invalid: faqform.get('question')?.touched && faqform.get('question')?.invalid
          }"
          type="text"
          name="question"
          placeholder="Enter question"
        />
        <small class="text-danger">
          <span *ngIf="faqform.get('question')?.errors?.['required'] && faqform.get('question')?.touched">
            question is required.
          </span>
        </small>
      </div>

      <div class="email-wrapper d-flex flex-column position-relative">
        <label for="category">Select Category</label>
        <select
          formControlName="category"
          class="form-control input-control"
          (click)="isRotated = !isRotated"
          [ngClass]="{
            invalid: faqform.get('category')?.touched && faqform.get('category')?.invalid
          }"
        >
          <option value="" disabled selected>Select Category</option>
          <option (click)="isRotated = !isRotated" *ngFor="let cat of categories" [value]="cat.name">
            {{ cat.name }}
          </option>
        </select>
        <img
          class="faq-arrow"
          src="https://assets-dev.travelhouseuk.co.uk/assets/images/push-notifications/chevron-down.svg"
          [class.rotate]="isRotated"
 style="position: absolute; right: 20px; top: 33px; pointer-events: none;"
        >
        <small class="text-danger">
          <span *ngIf="faqform.get('category')?.errors?.['required'] && faqform.get('category')?.touched">
            Category is required.
          </span>
        </small>
      </div>

      <div class="email-wrapper d-flex flex-column">
        <label for="answer">Answer</label>
        <textarea
          formControlName="answer"
          rows="4"
          class="form-control input-control"
          [ngClass]="{
            invalid: faqform.get('answer')?.touched && faqform.get('answer')?.invalid
          }"
          placeholder="Type your answer here..."
        ></textarea>
        <small class="text-danger">
          <span *ngIf="faqform.get('answer')?.errors?.['required'] && faqform.get('answer')?.touched">
            Answer is required.
          </span>
        </small>
      </div>
    </div>

  <button
  class="btn btn-primary"
  (click)="updateFaq()"
  [disabled]="faqform.invalid"
>
  Submit
</button>

  </form>


<form autocomplete="off" [formGroup]="discountForm" class="Form" *ngIf="formType==='discount'">
  <div class=" discount formHeaders">
    <h2>Discount</h2>
    <span >Please enter the required detail to add new Discount.</span>
  </div>

  <div class="discountForm">

    <div class="email-wrapper d-flex flex-column">
      <label for="planName">Plan Name</label>
      <input
        formControlName="planName"
        class="form-control input-control"
        [ngClass]="{
          invalid: discountForm.get('planName')?.touched && discountForm.get('planName')?.invalid
        }"
        type="text"
        name="planName"
        placeholder="Enter plan name"
      />
      <small class="text-danger">
        <span *ngIf="discountForm.get('planName')?.errors?.['required'] && discountForm.get('planName')?.touched">
          Discount name is required.
        </span>
      </small>
    </div>


    <div class="email-wrapper d-flex flex-column">
      <label for="code">Code</label>
      <input
        formControlName="code"
        class="form-control input-control"
        [ngClass]="{
          invalid: discountForm.get('code')?.touched && discountForm.get('code')?.invalid
        }"
        type="text"
        name="code"
        placeholder="Enter discount code"
      />
      <small class="text-danger">
        <span *ngIf="discountForm.get('code')?.errors?.['required'] && discountForm.get('code')?.touched">
          Code is required.
        </span>
      </small>
    </div>


    <div class="email-wrapper d-flex flex-column position-relative">
      <label for="targetUsers">Target Users</label>
      <select
        formControlName="targetUsers"
        class="form-control input-control"
        (click)="isRotated = !isRotated"
        [ngClass]="{
          invalid: discountForm.get('targetUsers')?.touched && discountForm.get('targetUsers')?.invalid
        }"
      >
        <option value="" disabled selected>Select Target users</option>
        <option value="Global" >Global</option>
       <option value="Pending Payment" >Pending Payment</option>
       <option value="Region-Wise" >Region-Wise</option>
       <option value="Single User" >Single User</option>
      </select>
      <img
        class="faq-arrow"
        src="https://assets-dev.travelhouseuk.co.uk/assets/images/push-notifications/chevron-down.svg"
        [class.rotate]="isRotated"
        style="position: absolute; right: 13px; top: 32px; pointer-events: none;"
      >
      <small class="text-danger">
        <span *ngIf="discountForm.get('targetUsers')?.errors?.['required'] && discountForm.get('targetUsers')?.touched">
          Please select a target user
        </span>
      </small>
    </div>

    <div class="email-wrapper d-flex flex-column position-relative">
      <label for="status">Select Status</label>
      <select
        formControlName="status"
        class="form-control input-control"
        (click)="isRotatedStatus = !isRotatedStatus"
        [ngClass]="{
          invalid: discountForm.get('status')?.touched && discountForm.get('status')?.invalid
        }"
      >
        <option value="" disabled selected hidden>Select Status</option>
        <option value="Active">Active</option>
        <option value="InActive">InActive</option>
      </select>
      <img
        class="faq-arrow"
        src="https://assets-dev.travelhouseuk.co.uk/assets/images/push-notifications/chevron-down.svg"
        [class.rotate]="isRotatedStatus"
        style="position: absolute; right: 20px; top: 33px; pointer-events: none;"
      >
      <small class="text-danger">
        <span *ngIf="discountForm.get('status')?.errors?.['required'] && discountForm.get('status')?.touched">
          Status is required.
        </span>
      </small>
    </div>


    <div class="email-wrapper d-flex flex-column">
      <label for="usageLimit">Usage Limit</label>
      <input
        formControlName="usageLimit"
        class="form-control input-control"
        [ngClass]="{
          invalid: discountForm.get('usageLimit')?.touched && discountForm.get('usageLimit')?.invalid
        }"
        type="number"
        name="usageLimit"
        placeholder="Enter usage limit"
      />
      <small class="text-danger">
        <span *ngIf="discountForm.get('usageLimit')?.errors?.['required'] && discountForm.get('usageLimit')?.touched">
          Usage limit is required.
        </span>
      </small>
    </div>


    <div class="email-wrapper d-flex flex-column">
      <label for="amount">Amount</label>
      <input
        formControlName="amount"
        class="form-control input-control"
        [ngClass]="{
          invalid: discountForm.get('amount')?.touched && discountForm.get('amount')?.invalid
        }"
        type="number"
        name="amount"
        placeholder="Enter discount amount"
      />
      <small class="text-danger">
        <span *ngIf="discountForm.get('amount')?.errors?.['required'] && discountForm.get('amount')?.touched">
          Discount amount is required.
        </span>
      </small>
    </div>



    <div class="email-wrapper d-flex flex-column position-relative">
  <label for="validTo">Valid To</label>

  <div class="custom-datepicker-wrapper">
    <input
    [ngClass]="{
          invalid: discountForm.get('validTo')?.touched && discountForm.get('validTo')?.invalid
        }"
      class="input-control"
      formControlName="validTo"
      placeholder="Valid to"

      [matDatepicker]="picker"
      (focus)="picker.open()"
      readonly
    />
    <mat-datepicker-toggle [for]="picker" class="custom-datepicker-toggle">
          <i class="bi bi-calendar5 calendar-icon"></i>
    </mat-datepicker-toggle>
    <mat-datepicker  style="background-color: white!important;" #picker></mat-datepicker>
  </div>

  <small class="text-danger">
    <span *ngIf="discountForm.get('validTo')?.errors?.['required'] && discountForm.get('validTo')?.touched">
      Valid To is required.
    </span>
  </small>
</div>

<ng-container *ngIf="discountForm.get('targetUsers')?.value === 'Region-Wise'">
  <div class="email-wrapper d-flex flex-column position-relative">
    <label for="continent">Select Continent</label>
    <select
      formControlName="continent"
      class="form-control input-control"
      (click)="isRotatedContinent = !isRotatedContinent"
      [ngClass]="{
        invalid: discountForm.get('continent')?.touched && discountForm.get('continent')?.invalid
      }"
    >
      <option value="" disabled selected hidden>Select Continent</option>
      <option *ngFor="let cont of continents" [value]="cont">{{ cont }}</option>
    </select>
    <img
      class="faq-arrow"
      src="https://assets-dev.travelhouseuk.co.uk/assets/images/push-notifications/chevron-down.svg"
      [class.rotate]="isRotatedContinent"
      style="position: absolute; right: 20px; top: 33px; pointer-events: none;"
    />
    <small class="text-danger">
      <span *ngIf="discountForm.get('continent')?.errors?.['required'] && discountForm.get('continent')?.touched">
        Continent is required.
      </span>
    </small>
  </div>

  <div class="email-wrapper d-flex flex-column position-relative">
    <label for="country">Select Country</label>
    <select
      formControlName="country"
      class="form-control input-control"
      (click)="isRotatedCountry = !isRotatedCountry"
      [ngClass]="{
        invalid: discountForm.get('country')?.touched && discountForm.get('country')?.invalid
      }"
    >
      <option value="" disabled selected hidden>Select Country</option>
      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select>
    <img
      class="faq-arrow"
      src="https://assets-dev.travelhouseuk.co.uk/assets/images/push-notifications/chevron-down.svg"
      [class.rotate]="isRotatedCountry"
      style="position: absolute; right: 20px; top: 33px; pointer-events: none;"
    />
    <small class="text-danger">
      <span *ngIf="discountForm.get('country')?.errors?.['required'] && discountForm.get('country')?.touched">
        Country is required.
      </span>
    </small>
  </div>

  <div class="email-wrapper d-flex flex-column position-relative">
    <label for="city">Select City</label>
    <select
      formControlName="city"
      class="form-control input-control"
      (click)="isRotatedCity = !isRotatedCity"
      [ngClass]="{
        invalid: discountForm.get('city')?.touched && discountForm.get('city')?.invalid
      }"
    >
      <option value="" disabled selected hidden>Select City</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
    <img
      class="faq-arrow"
      src="https://assets-dev.travelhouseuk.co.uk/assets/images/push-notifications/chevron-down.svg"
      [class.rotate]="isRotatedCity"
      style="position: absolute; right: 20px; top: 33px; pointer-events: none;"
    />
    <small class="text-danger">
      <span *ngIf="discountForm.get('city')?.errors?.['required'] && discountForm.get('city')?.touched">
        City is required.
      </span>
    </small>
  </div>
</ng-container>

  <div *ngIf="discountForm.get('targetUsers')?.value === 'Single User'" class="email-wrapper d-flex flex-column">
    <label for="email">User Email</label>
    <input
      type="email"
      formControlName="email"
      class="form-control input-control"
      placeholder="Enter user email"
      [ngClass]="{
    invalid: discountForm.get('email')?.touched && discountForm.get('email')?.invalid
  }"
    />
    <small class="text-danger">
      <span *ngIf="discountForm.get('email')?.errors?.['required'] && discountForm.get('email')?.touched">
       Email is required.
      </span>
        <span *ngIf="discountForm.get('email')?.errors?.['email'] ">
    Enter a valid email address.
      </span>
    </small>
</div>


  </div>

  <button
    class="btn btn-primary"
    (click)="addUpdateDiscount()"
    [disabled]="discountForm.invalid"

  >
Submit
  </button>
</form>

<form autocomplete="off" [formGroup]="notificationForm" class="Form" *ngIf="formType==='notification'">
  <div class="formHeaders">
    <h2>Notification</h2>
    <span>Please enter the notification details.</span>
  </div>

  <div class="email-wrapper d-flex flex-column">
    <label for="title">Notification Title</label>
    <input
      formControlName="title"
      class="form-control input-control"
      type="text"
      placeholder="Enter Pakage title"
      [ngClass]="{'invalid': notificationForm.get('title')?.touched && notificationForm.get('title')?.invalid}"
    />

  </div>
  <div class="email-wrapper d-flex flex-column">
    <label for="email">Email of User</label>
    <input
      type="email"
      formControlName="email"
      class="form-control input-control"
      placeholder="Please enter fare for this package"
      [ngClass]="{
    invalid: notificationForm.get('email')?.touched && notificationForm.get('email')?.invalid
  }"
    />

</div>
  <div class="email-wrapper d-flex flex-column mt-2 mb-2">
    <label for="message">Message</label>
    <textarea
      formControlName="message"
      rows="4"
      class="form-control input-control"
      placeholder="Type your answer"
      [ngClass]="{'invalid': notificationForm.get('message')?.touched && notificationForm.get('message')?.invalid}"
    ></textarea>

  </div>
<div class="imageContainer" (click)="triggerFileInput()">
  <div class="image">
    <img src="https://assets-dev.travelhouseuk.co.uk/assets/images/push-notifications/upload-icon.svg" alt="">
  </div>
  <p class="selected" *ngIf="selectedFileName">
   Selected file:  {{selectedFileName}}
</p>
<ng-container *ngIf="!selectedFileName">
    <p>Drop image or click to upload</p>
  <span>JPEG or PNG, 1:1 ratio</span>
</ng-container>

</div>

<input
  #fileInput
  type="file"
  accept="image/png, image/jpeg"
  hidden
  (change)="onImageSelected($event)"
>


  <button class="btn btn-primary" [disabled]="notificationForm.invalid" (click)=sendNotification()>
    Submit
  </button>
</form>

</div>
