<mat-sidenav-container class="main">
  <mat-sidenav mode="side" opened class="sidenavContainer">
    <div class="sideNav d-flex flex-column h-100">
      <h1 class="header">Dashboard</h1>
      <div class="hLine"></div>

      <a
        routerLink="/main/dis"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-button"
        style="cursor: pointer"
        #rlaLogin="routerLinkActive"
      >
        <img
          [src]="rlaLogin.isActive ? 'logo/overview.png' : 'logo/overview.png'"
          alt="overview"
          class="icon"
        />
        <span>Overview</span>
      </a>
      <span class="text-white my-2 font-medium subheader"
        >Content Managemt</span
      >
      <a class="nav-button">
        <img [src]="'/logo/notiifcation.png'" alt="notification" class="icon" />
        <span> Push Notifications</span>
      </a>

      <a class="nav-button">
        <img [src]="'/logo/Component 1.png'" alt="notification" class="icon" />
        <span> Flight Bookings</span>
      </a>

      <a class="nav-button">
        <img [src]="'/logo/explore.png'" alt="notification" class="icon" />
        <span> Search Records</span>
      </a>
      <a class="nav-button">
        <img [src]="'/logo/splash2.png'" alt="notification" class="icon" />
        <span> Splash Screens</span>
      </a>

      <a class="nav-button">
        <img [src]="'/logo/splash2.png'" alt="notification" class="icon" />
        <span>Home Banners</span>
      </a>
      <a
        routerLink="/main/faq"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-button"
        style="cursor: pointer"
        #rlaDiscount="routerLinkActive"
      >
        <img
          [src]="
            rlaDiscount.isActive ? '/logo/faqhighlight.png' : '/logo/faq.png'
          "
          alt="faq"
          class="icon"
        />
        <span> FAQ</span>
      </a>

      <a class="nav-button">
        <img [src]="'/logo/explore.png'" alt="notification" class="icon" />
        <span> Explore Section</span>
      </a>
      <a class="nav-button">
        <img [src]="'/logo/settings.png'" alt="notification" class="icon" />
        <span> General Settings</span>
      </a>
      <a
        routerLink="/main/discount"
        routerLinkActive="active"
        style="cursor: pointer"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-button"
        #rlaDiscount="routerLinkActive"
      >
        <img
          [src]="
            rlaDiscount.isActive
              ? '/logo/discounts.png'
              : '/logo/discounthighlight.png'
          "
          alt="Discount"
          class="icon"
        />
        <span>Discounts</span>
      </a>
      <span class="text-white my-2 font-medium subheader"
        >PAYMENT MANAGMENT</span
      >
      <a class="nav-button">
        <img [src]="'/logo/paymnet.png'" alt="Discount" class="icon" />
        <span> Payment Gateways</span>
      </a>
      <a class="nav-button">
        <img [src]="'/logo/wallet.png'" alt="Discount" class="icon" />
        <span> Payment Plans</span>
      </a>
      <span class="text-white my-2 font-medium subheader">Settings</span>
      <a class="nav-button">
        <img [src]="'/logo/settings.png'" alt="notification" class="icon" />
        <span>General Settings</span>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <nav class="navbar">
      <header class="navHeader">
        <img src="logo/Logo.png" alt="" />
        <h2 class="heading text-center">Travelhouse UK Admin</h2>
      </header>
      <div class="profile" #dropdownContainer>
        <img src="/login/Plane.png" alt="" />
        <button (click)="showOptions = !showOptions">
          <mat-icon class="profile-icon">expand_more</mat-icon>
        </button>
        <ul *ngIf="showOptions" class="options-dropdown">
          <li>
            <mat-icon class="option-icon">lock</mat-icon>
            Change Password
          </li>

          <hr class="line" />

          <li (click)="logout()">
            <mat-icon class="option-icon">logout</mat-icon>
            Logout
          </li>
        </ul>
      </div>
    </nav>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
