<mat-sidenav-container class="main">
  <mat-sidenav mode="side" opened class="sidenavContainer">
    <div class="sideNav bg-[#5b57f4] d-flex flex-column h-screen">
      <div class="bg-[#5b57f4] pb-[0px]">
        <h1 class="header">Dashboard</h1>
        <div class="hLine border-[1.4px] border-white"></div>
      </div>

      <div class="flex flex-col overflow-y-auto navOptions">
        @for (item of routes; track $index) { @if ($index === 1) {
        <span class="subheader">
          {{ "Content Management" | uppercase }}
        </span>

        } @if ($index === 10) {
        <span class="subheader">
          {{ "Payment Management" | uppercase }}
        </span>
        } @if ($index === 12 ) {
        <span class="subheader">
          {{ "Settings" | uppercase }}
        </span>
        }
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-button"
          [class.disabled-link]="
            !(
              item.label == 'FAQ' ||
              item.label == 'Discounts' ||
              item.label == 'Overview'
            )
          "
          #rla="routerLinkActive"
          [ngStyle]="{
            'background-color': rla.isActive ? 'white' : 'transparent'
          }"
        >
          <i
            class="fa-solid icon"
            [ngClass]="item.icon"
            [style.color]="rla.isActive ? '#5b57f4' : 'white'"
          ></i>
          <span [style.color]="rla.isActive ? '#5b57f4' : 'white'">
            {{ item.label }}
          </span>
        </a>
        }
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <nav class="navbar">
      <header class="navHeader">
        <img src="logo/Logo.png" alt="" />
        <h2 class="heading text-center">Travelhouse UK Admin</h2>
      </header>
      <div class="profile" #dropdownContainer>
        <img src="/login/Plane.png" alt="" />
        <button (click)="showOptions = !showOptions">
          <mat-icon class="profile-icon">expand_more</mat-icon>
        </button>
        <ul *ngIf="showOptions" class="options-dropdown">
          <li>
            <mat-icon class="option-icon">lock</mat-icon>
            Change Password
          </li>
          <hr class="line" />
          <li (click)="logout()">
            <mat-icon class="option-icon">logout</mat-icon>
            Logout
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
